*{
    box-sizing: border-box;
    font-family: inherit;
}

html{
    font-size: 10px;
    font-family: sans-serif;
}

@media screen and (max-width: 800px){
    html{
        font-size: 11px;
    }
}

@media screen and (max-width: 500px){
    html{
        font-size: 9px;
    }
}

body{
    margin: 0;
    background-color: #e2eaff;
}

.primero{
    display: block;
    width: 100px;
    height: 100px;
    background-color: red;
}

/* ----------------------- nav ------------------------ */

#bar {
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: #4888ee;
    display: flex;
    justify-content: center;
    height: 5rem;
    width: 100%;
    padding: 0 10%;
    overflow: hidden;
}

.bar__logo{
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: start;
    align-items: center;
}

.bar__logo picture{
    display: block;
    height: 80%;
    aspect-ratio: 1;
    object-fit: cover;
    position: relative;
    right: 0;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.86, 0.02, 0.94);
}

.bar__logo picture *{
    display: block;
    width: 100%;
    right: 0;
}

.bar__options{
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: end;
}

.bar__option__conteiner{
    position: relative;
    z-index: 100;
    left: 0;
    transition-property: position, left;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.86, 0.02, 0.94);
}

.bar__options ul{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: space-around;

    li{
        list-style: none;
        display: block;
        height: 100%;
    }
    a, label{
        font-size: 1.5rem;
        color: #fff;
        text-decoration: none;
        border-radius: 15px;
        transition-duration: 0.1s;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 2rem;
    }

    a:is(:hover, :active){
        outline: 2px solid #fff;
        outline-offset: -0.8rem ;
    }
    label:is(:hover, :active){
        outline: 2px solid #fff;
        outline-offset: -0.8rem ;
        cursor: pointer;
    }
}

.button{
    position: relative;
    height: 100%;
    aspect-ratio: 1;
    
    font-size: 4rem;
    color: #fff;
    
    label{
        padding: 0 2rem;
        display: flex;
        align-content: center;
        justify-content: center;
        border-radius: 15px;
        transition-duration: 0.1s;
    }

    label:is(:hover, :active){
        outline: 2px solid #fff;
        outline-offset: -1rem;
        
    }
}



.button{
    display: none;
}

#checkbox1{
    position: absolute;
    opacity: 0;
    z-index: -100;
}

/* queries */

@media screen and (max-width: 500px){
    .button{
    display: block;
    }
    
    .bar__option__conteiner{
        position: relative;
        left: 120%;
    }
    
}

#checkbox1:checked ~ .bar__options > .bar__option__conteiner{
    position: relative;
    left: 0;
}

#checkbox1:checked ~ .bar__logo > picture{
    position: relative;
    right: 12rem;
}



/* ----------------------- Main ------------------------ */

#main{
    margin: 20px auto;
    width: 90%;
    overflow: hidden;
    max-width: 1000px;
    border: 5px solid #18233f;
}

/*---- Profile -------*/

.profile{
    display: flex;
    gap: 20px;
    width: 100%;
    margin: auto;
    background-color: #4888ee30;
    padding: 30px;
    border-bottom: 5px solid #18233f;
}

@media screen and (max-width: 550px) {
    .profile{
        flex-direction: column;
    }
}

.photo-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__photo{
    display: block;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 100%;
    border: #18233f solid 7px;
    box-shadow: 0 0 50px 10px #4888ee60 ;
}


.profile__photo *{
    display: block;
    width: 100%;
    border-radius: 100%;
}

.profile__description{
    h1{
        font-size: 2.5rem;
    }
    p{
        font-size: 1.5rem;
        text-wrap: balance;
        text-wrap: pretty;
    }
}


.profile__skills label{
    display: block;
    margin-bottom: 7px;
    font-size: 1.4rem;
}

.bar-out{
    width: 100%;
    padding: 2px;
    border: #4888ee 2px solid;
    border-radius: 8px;
    display: flex;
    
}

.bar-in{
    height: 2.5rem;
    width: 4dvh;
    background-color: #4888ee;
    border-radius: 6px;
    display: flex;
    justify-content: end;
    align-items: center !important;
    padding-right: 7px;
    color: #fff;
    text-shadow: 0 0 20px #000;

    animation: llenar-barra both;
    animation-duration: 2s;
    animation-delay: 0.5s;
    
}


.--15{
    padding-right: 85%;
}

.--50{
    padding-right: 50%;
}
.--70{
    padding-right: 30%;
}
.--80{
    padding-right: 20%;
}
.--85{
    padding-right: 15%;
}

/*---- proyects ----*/

.projects{
    width: 100%;

    h2{
        display: block;
        margin: 0;
        font-size: 3rem;
        padding: 2rem;
        text-align: center;
        background-color: #18233f;
        color: #fff;
        
    }
}

.projects-conteiner{
    width: 100%;
    display: grid;
    gap: 5px;
    padding: 5px;
    grid-template-columns: repeat(3, 1fr);
}

.photo-project:first-child{
        grid-area: span 2/ span 2;
    }



@media screen and (max-width: 500px) {
    .projects-conteiner{
        grid-template-columns: repeat(2, 1fr);
    }
    .photo-project:last-child{
    grid-column: span 2;
    aspect-ratio: 2/1;
    }
}


.photo-project{
    background-size: cover;
    background-position: center;
    position: relative;
    aspect-ratio: 1/1;
}

.photo-project:first-child{
    background-image: url(./multimedia/profile1.jpg);
}
.photo-project:nth-child(2){
    background-image: url(./multimedia/profile2.jpg);
}
.photo-project:nth-child(3){
    background-image: url(./multimedia/profile3.jpg);
}
.photo-project:nth-child(4){
    background-image: url(./multimedia/profile4.jpg);
}
.photo-project:nth-child(5){
    background-image: url(./multimedia/profile5.jpg);
}
.photo-project:nth-child(6){
    background-image: url(./multimedia/profile6.jpg);
}

.project-link{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 2rem;
    text-shadow: 0 0 10px #000;
    background-color: #0009;
    text-decoration: none;
    transition-duration: 0.1s;

}

.project-link:is(:hover, :active){
    background-color: #0005;
    font-size: 3rem;
}

/* ----------------------- contact ------------------------ */

#contact-father{
    width: 100%;
    height: calc(100vh - 5rem);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    position: fixed;
    top: 5rem;
    opacity: 0;
    z-index: -100;
    display: flex;
    border: none;
}

#contact{
    margin: auto;
    width: 80%;
    background: linear-gradient(#232e48, #4888ee);
    max-width: 600px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 50px 2px #4888ee66;
    top: 0;
}

#checkbox2{
    position: absolute;
    z-index: -100;
    opacity: 0;
}

#checkbox2:checked ~ #contact-father{
    z-index: 100;
    opacity: 1;
}

.contact-fieldset{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 10px 2rem;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
}

.contact-legend{
    color: #fff;
    font-size: 3rem;

}

.contact-lab{
    display: block;
    color: #fff;
    text-shadow: 0 0 10px #000;
    font-size: 1.5rem;
    width: 100%;
    grid-column: span 2;

    input, textarea, select{
        font-size: 1.5rem;
        padding: 0.5rem;
        width: 100%;
        min-height: 4rem;
        margin-top: 5px;
        border: 2px solid #0003;
        border-radius: 5px;
    }

    option{
        background-color: #fff;
    }

    textarea{
        resize: none;
    }
}

.--span{
    grid-column: span 1;
}

.contact-cancel{
    justify-self: end;
    padding: 8px 20px;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: #fff;
}

.contact-button{
    font-size: 1.5rem;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    justify-self: start;
    background-color: #fff;
}


@media screen and (max-width: 550px){
    .--span{
        grid-column: span 2;
    }
}


/* ----------------------- footer ------------------------ */

#footer{
    padding: 3rem;
    width: 100%;
    background-color: #18233fdd;
    display: flex;
    justify-content: center;
    align-items: center;

    h2{
        font-size: 2rem;
    }
}


/* ------------------------ motions -------------------*/

@keyframes llenar-barra {
    from{
        width: 4rem;
        color: transparent;
    }
    to{
        width: 100%;
        color: #fff;
    }   
}

/* en desarrollo... */
@keyframes aparecer {
    from{
        left: 50px;
        opacity: 0;
    }
    to{
        left: 0;
        opacity: 1;
    }
}